[http]
	sslverify = false
[user]
	email = victor.madera.a@gmail.com
	name = VictorMaderaA
[color]
    diff = auto
    status = auto
    branch = auto
[color "status"]
    added = green
    changed = blue
    untracked = red 
[color "diff"]
    meta = yellow
    old = red 
    new = green
[commit]
    template = ~/.gitmessage
[core]
    excludesfile = ~/.gitignore
    editor = vim
[push]
    followTags = true
    default = current
[alias]
    ll = log --graph --pretty=format:'%C(bold blue)%h%Creset - %C(yellow)%d%Creset %s %C(cyan dim)(%cr)%Creset %n' --abbrev-commit --branches
	a = add .
	s = status
	p = push
	c = commit
	cm = commit -m
	d = diff
	dv = difftool -t vimdiff -y
[credential]
	helper = store
[pull]
	rebase = false
[init]
	defaultBranch = main
