[user]
    name = "VictorMaderaA"
    email = "victor.madera.a@gmail.com"
    # No poner useConfigOnly aquí si quieres que este sea el global por defecto

[core]
    editor = vim
    excludesFile = ~/.gitignore_global
	autocrlf = input
    sshCommand = "ssh -o IdentitiesOnly=yes -i ~/.ssh/VictorMaderaA -i ~/.ssh/narobialPcGithubVictorMaderaA"
[alias]
    st = status
    s = status
    co = checkout
    br = branch
    ci = commit
    c = commit
    lg = log --oneline --graph --all
    a = add
    p = push

[init]
    defaultBranch = main

# Config para repos en ~/narobial
[includeIf "gitdir:~/narobial/"]
    path = ~/.gitConfig/gitconfig_narobial
